<ion-view view-title="Borrow">
  <ion-content>

  
   






	<div class="row responsive-sm">
  <div class="col">


    

  <a href="#/app/borrow/new" style=" text-decoration: none;" >

<div class="button button-full button-positive">
+ Post Startup Loan
</div>



</a>

  
    <ion-list>
  
  
    <ion-item-borderless>
  
  <div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
 
    <p>
     
    </p>
    <p>
      <a href="#" class="subdued">Target  : Rs. 50,000</a>
      <a href="#" class="subdued">Current : Rs. 25,000</a>
    </p>
	 <p>
      <a href="#" class="subdued">Duration : 12 months</a>
    
    </p>
	 <p>
      <a href="#" class="subdued"><b>Need more : Rs. 25,000 </b></a>
    
    </p>
  </div>

  <div class="item">
 
  <button class="button  button-stable">
  View
</button>
<button class="button  button-stable">
 Status
</button>
<button class="button  button-assertive">
  Delete
</button>
  </div>

</div>
  
  
  </ion-item>
  
  
  
  
  
  
  
  
  
  
  
  
    </ion-list>
  
  
  </div>

</div>

  </ion-content>
</ion-view>
