<ion-view view-title="Feed">
  <ion-content>


	<div class="row responsive-sm">
  <div class="col">
  

  <ion-list>
  
 
  
  
  
  
  
  
    <ion-item-borderless>
  
  <div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <iframe width="100%" height="180" src="http://www.youtube.com/embed/YL9RetC0ook" frameborder="0"></iframe>
    <p>
     
    </p>
    <p>
      <a href="#" class="subdued">Target  : Rs. 50,000</a>
      <a href="#" class="subdued">Current : Rs. 25,000</a>
    </p>
	 <p>
      <a href="#" class="subdued">Duration : 12 months</a>
    
    </p>
	 <p>
      <a href="#" class="subdued"><b>Need more : Rs. 25,000 </b></a>
    
    </p>
  </div>

  <div class="item">
 
 
 
 
 <a href="#/app/borrow/new" style=" text-decoration: none;" >

<div class="button icon-left ion-fireball button-full button-positive">
Make Profit
</div>



</a>
 
 
 
 
 
 
 
 
 
 
 
 
  </div>

</div>
  
  
  </ion-item>
  
  
  
  
  
  
  
  
  
  
  
  
    </ion-list>
  
  
  
  
  
  
  
  

  
  
  </div>

</div>

	<div class="row responsive-sm">
  <div class="col">
  
  
  
  
  
  
  
  
  
  
  
  </div>

</div>
  </ion-content>
</ion-view>
<script>




$("#but").click(function(){

$("#but").hide();


    });














</script>