<ion-view view-title="Login" align-title="left">
    <ion-content>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Hagto</h1>
            </div>
        </div>
        <div class="list">
		<br>
		<label><b>Email</b></label>
		<ion-md-input placeholder="Email" type="Email"></ion-md-input><br>
		<label><b>Password</b></label>
		<br>            
		<ion-md-input placeholder="Password" type="password"></ion-md-input>
        
		</div>
        <div class="padding">
		<button ui-sref="app.profile" class="button button-full button-positive">Login</button>
         <button ui-sref="app.profile" class="button button-full button-calm">SignUp</button>
		 <!-- <button ui-sref="app.profile" class="button button-calm inks">Login</button> -->
			<!-- <button ui-sref="app.profile" class="button button-calm inks">SignUp</button> -->
        </div>
        
    </ion-content>
</ion-view>
