<ion-view view-title="Password settings">
  <ion-content>
 

	<div class="row responsive-sm">
  <div class="col">
  
  <form method="post">

<div class="list">
	

  <label class="item item-input item-stacked-label">
    <span class="input-label">Current password</span>
    <input type="password" placeholder="********">
  </label>
  
 
  <label class="item item-input item-stacked-label">
    <span class="input-label">New password</span>
    <input type="password" placeholder="********">
  </label>
  

  
  



 <button class="button button-block button-positive">
Change password
</button>






  
  
</div>













</form>
</div></div>




  </ion-content>
</ion-view>
