<ion-view view-title="Profile settings">
  <ion-content>
 

	<div class="row responsive-sm">
  <div class="col">
  
  <form method="post">
<h5>Enter all the details*</h5>
<div class="list">
	

  <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="john">
  </label>
  
 
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
  
  
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Mobile</span>
    <input type="text" placeholder="9956995680">
  </label>
  
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">City</span>
    <input type="text" placeholder="Delhi">
  </label>
  
  
  



 <button class="button button-block button-positive">
 Save Profile
</button>






  
  
</div>













</form>
</div></div>




  </ion-content>
</ion-view>
<style>

.hagwidth{
	
	
	  padding: 3%;
  width: 100%;
  margin: 0 0 5px 0;
  border: 1px solid #ddd;
}</style>