<ion-view view-title="Welcome to hagto">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/');"></div>
                <h3><a class="light"></a></h3>
                
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.Lending" class="tab-item">
                <i class="icon ion-social-usd"></i> Start Lending
            </a>
            
        </div>
        <h4 class="content padding double-padding-x">Follower</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/ajan.jpg">
                <h2>AJAN BABU</h2>
                <p></p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Vivekguna</h2>
                <p></p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Sundaresan</h2>
                <p></p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			<a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/">
                <h2>Dhenral</h2>
                <p></p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			<a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/">
                <h2>Jeevithan</h2>
                <p></p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
