<ion-view view-title="profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/ref.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/hagto.jpg');"></div>
                <h3><a class="light">HAGTO</a></h3>
                
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.Lending" class="tab-item">
                <i class="icon ion-social-usd"></i> Lending
            </a>
            <a ui-sref="app.Borrower" class="tab-item">
                <i class="icon ion-person"></i> Borrower
            </a>
            <a ui-sref="app.Profile" class="tab-item">
                <i class="icon ion-ios-people"></i> Profile
            </a>
			<a ui-sref="app.Contact" class="tab-item">
                <i class="icon ion-ios-contact "></i> Contact
			</a>
			<a ui-sref="app.Logout" class="tab-item">
                <i class="icon ion-power"></i> Logout
				</a>
        </div>
        <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/">
                <h2>PRAVIN KUMAR JAYAKODI</h2>
                <p>Product&Growth</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			<a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/ajan.jpg">
                <h2>VIVEKGUNA</h2>
                <p>R&D Engineer</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>AJAN BABU</h2>
                <p>R&D Engineer</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>SUNDARESAN</h2>
                <p>Developer</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			<a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/">
                <h2>Dhenral</h2>
                <p>Developer</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
			<a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/">
                <h2>Jeevithan</h2>
                <p>Developer</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
