<ion-view view-title="Lending Rate">
  <ion-content>
 

	<div class="row responsive-sm">
  <div class="col">
  
  <form method="post">
<h5>Enter all the details*</h5>
<div class="list">
	
<select class="hagwidth" name="lper_min" id="lper_min"  >

    <option value="" disabled selected hidden>Minimum interest you offer *</option>

<option value="13">13 %</option>
<option value="15">15 %</option>
<option value="18">18 %</option>
<option value="20">20 %</option>
<option value="23">23 %</option>
<option value="25">25 %</option>
<option value="28">28 %</option>

</select>
			
			




<select class="hagwidth" name="lper_max" id="lper_max"  >
 <option value="" disabled selected hidden>Maximum interest you offer *</option>


<option value="28">28 %</option>
<option value="25">25 %</option>
<option value="23">23 %</option>
<option value="20">20 %</option>
<option value="18">18 %</option>
<option value="15">15 %</option>
<option value="13">13 %</option>
</select>
  
  



 <button class="button button-block button-positive">
Save Lending Rate
</button>






  
  
</div>













</form>
</div></div>




  </ion-content>
</ion-view>
<style>

.hagwidth{
	
	
	  padding: 3%;
  width: 100%;
  margin: 0 0 5px 0;
  border: 1px solid #ddd;
}</style>