<ion-view view-title="Bank settings">
  <ion-content>
 

	<div class="row responsive-sm">
  <div class="col">
  
  <form method="post">
<h5>Enter all the details*</h5>
<div class="list">
	

  <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="john">
  </label>
  
 
  <label class="item item-input item-stacked-label">
    <span class="input-label">Account Number</span>
    <input type="text" placeholder="303456789526">
  </label>
  
  
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Name of the bank</span>
    <input type="text" placeholder="ICICI Bank">
  </label>
  
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">IFSC code</span>
    <input type="text" placeholder="IC0000198">
  </label>
  
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">PAN no</span>
    <input type="text" placeholder="A9rty4bne">
  </label>
  



 <button class="button button-block button-positive">
 Save bank details
</button>






  
  
</div>













</form>
</div></div>




  </ion-content>
</ion-view>
<style>

.hagwidth{
	
	
	  padding: 3%;
  width: 100%;
  margin: 0 0 5px 0;
  border: 1px solid #ddd;
}</style>